# Byte-compiled / optimized / DLL files
__pycache__
.pytest_cache
.coverage
tick_data_downloader.egg-info
tick_sponge.egg-info
dist/
# Ignore editor/project-specific junk
*.swp
.DS_Store
.idea/
.vscode/
